header.header
	.container
		.header-container
			a.header__logo
			.header__name-container
				h1.header__header Агенство недвижимости
				span.header__adress Москва, «Беляево», ул. Миклухо-Маклая, д. 43
			.header__contacts-container
				a.header__tel(href='tel:84952760303') +7 (495) 276-03-03
				span.header__hours Пн-Пт: с 09.00 до 21.00, Сб-Вс: с 10.00 до 17.00
			button.header__consultation-button Бесплатная Консультация
			nav.header__menu.menu
				ul.menu__list
					li.menu__item.menu__new-buildings-item
						a.menu__link.menu__new-buildings-link(href='#') Новостройки
					li.menu__item
						a.menu__link(href='#') Элитная недвижимость
					li.menu__item
						a.menu__link(href='#') Вторичная недвижимость
					li.menu__item
						a.menu__link(href='#') Коммерческая недвижимость
					li.menu__item
						a.menu__link(href='#') Ипотека
					li.menu__item
						a.menu__link(href='#') Услуги
					li.menu__item.menu__contact-item
						a.menu__link.menu__contact-link(href='#') Контакты
					li.menu__item.menu__search-item
						a.menu__link.menu__search-link(href='#')