include ../utils/mixins
block variables

doctype html
html(lang='ru-RU')
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="description", content=description)
		title #{title}
		link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet")

	body
		include ../includes/modules/header
		include ../includes/modules/content

		//script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
