.footer
  display: flex
  margin-bottom: 70px

.footer__copyright
  font-size: 14px
  font-weight: 300
  line-height: 22px

.footer__develop
  position: relative
  margin-left: auto
  padding-left: 42px
  font-size: 14px
  font-weight: 300
  line-height: 22px
  &:before
    content: ''
    position: absolute
    top: -3px
    left: 0
    width: 20px
    height: 27px
    background-image: url('/assets/img/evrika.png');