.offers
  margin-bottom: 68px
  padding-top: 60px
  padding-bottom: 48px
  background: #f7f7f7

.offers__all-button
  display: block
  width: 279px
  height: 48px
  margin: 0 auto
  margin-top: 52px
  font-size: 13px
  font-weight: 400
  line-height: 17px
  text-align: center
  color: #ffffff
  text-transform: uppercase;
  background-color: $green-color
  border: none
  border-radius: 4px
  cursor: pointer
  &:hover
    background-color: $blue-color