.office
  width: 100%
  margin-bottom: 64px
  padding-top: 59px
  padding-left: 97px
  padding-bottom: 13px
  border: 1px solid #e7e7e7
  box-sizing: border-box

.office__header
  margin-top: 10px
  margin-bottom: 25px
  font-size: 20px
  font-weight: 400
  line-height: 27px

.office__text
  margin-bottom: 44px
  font-size: 18px
  font-weight: 300
  line-height: 22px

.office__list
  display: flex
  width: 974px
  margin: 0
  padding: 0
  list-style: none

.office__item
  position: relative
  width: 100px
  height: 71px
  padding-top: 17px
  padding-left: 78px
  font-size: 14px
  font-weight: 400
  line-height: 19px
  &:before
    content: ''
    position: absolute
  &-one
    &:before
      top: 11px
      left: 2px
      width: 53px
      height: 45px
      background-image: url('/assets/img/ofis_1.svg')
  &-two
    margin-right: 44px
    &:before
      top: 10px
      left: 6px
      width: 41px
      height: 49px
      background-image: url('/assets/img/ofis_2.svg')
  &-three
    margin-right: 20px
    &:before
      top: 11px
      left: 18px
      width: 35px
      height: 41px
      background-image: url('/assets/img/ofis_3.svg')
  &-four
    margin-right: 20px
    &:before
      top: 11px
      left: 16px
      width: 38px
      height: 46px
      background-image: url('/assets/img/ofis_4.svg')
  &-five
    &:before
      top: 10px
      left: 4px
      width: 49px
      height: 43px
      background-image: url('/assets/img/ofis_5.svg')